@use 'vars';

@mixin articles($margin:2em){
    margin-left: $margin;

    h3{
        font-size: 3em;
        color: vars.$colorOrange;
    }

    a{
        margin: .7em 0;
        font-size: 1.5em;
        display: block;
        cursor: pointer;
        transition: color .3s ease;
        text-decoration: none;
        color: vars.$colorBlack;

        &:hover{
            color: vars.$colorOrange;
            transition: color .3s ease;
        }
    }

    span{
        line-height: 1.5em;
        font-size: vars.$fontDefault;
        
    }
}

@mixin aside(){
    margin-top: 2em;

    h2, h3{
        font-size: 1.7em;
        color: vars.$colorSecundaryWhite;
        transition: color .3s ease;
    }

    h3:hover{
        cursor: pointer;
        color: vars.$colorYellow;
        transition: color .3s ease;
    }

    p{
        margin-top: .5em;
        line-height: 1.5em;
        color: vars.$colorGrey;
        font-size: vars.$fontDefault;
    }
}

.gridContainer{
    width: 100%;
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "image image aside"
    "title text aside"
    "title text aside"
    "card1 card2 card3";
    gap: 2em;
    // background-color: red;

    .image{
        width: 100%;
        // grid-column: 1 / 3;
        grid-area: image;
    }
}

.content{
    margin-top: 60px;

    &__ask{
        font-size: 3em;
        text-align: left;
        grid-area: title;
    }

    &__text{
        display: flex;
        flex-direction: column;
        grid-area: text;

        p{
            font-size: 1.3em;
            line-height: 32px;
        }
       
        &__btn{
            margin-top: auto;
            width: 270px;
            padding: 1em;
            border: none;
            background-color: vars.$colorOrange;
            text-transform: uppercase;
            font-size: 1.2em;
            font-weight: bold;
            letter-spacing: 4px;
            cursor: pointer;
            border-radius: 3px;
            transition: color, background-Color .4s ease;
            font-family: vars.$fontFamily;


            &:hover{
                background-color: vars.$colorBlack;
                color: vars.$colorSecundaryWhite;
            }
        }
    }


    // ASIDE
    &__aside{
        background-color: vars.$colorBlack;
        padding: 2em;
        grid-area: aside;
        // grid-column: -1 / 3 ;
        // grid-row: 1 / -1;
        // background-color: black;

        &__title{
            color: vars.$colorYellow;
            font-size: 3em;
        }

        &__aboutCars{
            @include aside;
        }

        &__aboutIa{
           @include aside;
        }

        &__aboutFunding{
           @include aside;
        }

        &__divider{
            height: 1px;
            border-color: vars.$colorSecundaryGrey;
            margin: 3.5em 0;
        }  
    }


    // articles
    .articles{
        margin: 4em 0;
        display: flex;

        img {
            height: 80%;
            border-radius: 6px;
            object-fit: cover;
            // max-width: 100%;
            // height: auto;
            // border-radius: 6px;
            // object-fit: cover;
        }
    }

    &__articlesCards__flex{
        display: flex;
        margin: 4em 0;
    }

    &__articlesCard1{
        grid-area: card1;

        &__sections{
            @include articles;
        }
    }

    &__articlesCard2{
        grid-area: card2;

        &__sections{
            @include articles;
        }
    }

    &__articlesCard3{
        grid-area: card3;

        &__sections{
            @include articles;
        }
    }
}







