.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;

    &__nav{
    }

    &__list{
        display: flex;
        gap: 2em;
        list-style: none;

        &__item{
            a{
                text-decoration: none;
                color: hsl(236, 13%, 42%);
                transition: color ease .4s;

                &:hover{
                    color: hsl(5, 85%, 63%);
                    transition: color ease .4s;
                }
            }
        }
    }


}

