$fontFamily: "Inter", sans-serif;
$fontDefault: 1em;

// colors
$colorOrange: #f15e50;
$colorBlack: #00001a;
$colorYellow: #e9ab53;
$colorWhite: #fff;
$colorSecundaryWhite: #fffdfa;
$colorGrey: #c5c6ce;
$colorSecundaryGrey:#5d5f79;